@import "tailwindcss";

.trade-label {
  display: flex;
  font-size: 16px;
}

.input-wrapper {
  border: 1px solid #474d57;
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  transition: border 0.5s ease 0.1s;
}
.input-wrapper:focus-within {
  border: 1px solid #2EDBAD;
}
.input-wrapper:hover {
  border: 1px solid #2EDBAD;
}
.dark .input-wrapper:hover {
  border: 1px solid #352d18;
}

.input-field {
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding: 0 6px;
  width: min-content;
  flex: 1;
  height: 100%;
  font-size: 20px;
}

.input-field:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px #2EDBAD;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 4px;
}

.unit {
  font-weight: bold;
  font-size: 16px;
}

.btn-group {
  display: flex;
  flex-direction: column;
}

.up-btn,
.down-btn {
  background: transparent;
  border: none;
  color: #b9b9b9;
  font-size: 16px;
  cursor: pointer;
  line-height: 10px;
  padding: 4px;
  border-left: 1px solid #474d57;
}

.form-control:focus {
  background-color: transparent;
  border-color: yellowgreen;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}
@media (max-width: 4500px) {
  .trade-label {
    font-size: 12px;
  }

  .input-field {
    font-size: 18px;
    padding: 0 4px;
  }

  .input-wrapper {
    height: 40px;
  }

  .unit {
    font-size: 14px;
  }

  .up-btn,
  .down-btn {
    font-size: 10px;
    padding: 4px;
  }
}
@media (max-width: 1300px) {
  .trade-label {
    font-size: 12px;
  }

  .input-field {
    font-size: 14px;
    padding: 0 3px;
    width:25px
  }

  .input-wrapper {
    height: 40px;
  }

  .unit {
    font-size: 12px;
  }

  .up-btn,
  .down-btn {
    font-size: 10px;
    padding: 4px;
  }
}
.binance-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.react-datepicker {
  border: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected {
  background-color: #2EDBAD !important; /* yellow highlight */
  color: #000 !important;
  border-radius: 6px !important;
}

.react-datepicker__navigation {
  top: 10px;
}

.react-datepicker__navigation-icon::before {
  border-color: #000 !important;
}

.quick-select {
  display: flex;
  gap: 12px;
}

.quick-select button {
  background: #2EDBAD;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}
.quick-select button:hover {
  background: #2EDBAD;
}

.date-display {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}
/* Outer container */
.rdrCalendarWrapper {
  width: 500px !important;  /* jitni chahiye utni width */
  height: 400px !important; /* height bhi control kar sakte ho */
  border-radius: 12px !important; /* rounded corners */
}
.rdrDefinedRangesWrapper{
display: none !important;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader.preloader2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-container,
.loading {
  height: 140px;
  position: relative;
  width: 140px;
  border-radius: 100%;
}
.loading-container {
  margin: 40px auto;
}
.loading {
  border: 1px solid transparent;
  border-color: transparent #5A65F5 transparent #5A65F5;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}
.loading.loading2 {
  border: 1px solid transparent;
  border-color: transparent #C0FF3A transparent #C0FF3A !important;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}
.loading.loading3 {
  border: 1px solid transparent;
  border-color: transparent #EE64FE transparent #EE64FE;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}
.loading.loading4 {
  border: 1px solid transparent;
  border-color: transparent #F69434 transparent #F69434;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}
.loading-container:hover .loading,
.loading-container .loading {
  transition: all 0.5s ease-in-out;
}
#loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  transform: translate(-50%, -50%);
}
@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}